# Template: Go.AllowList.gitignore

# Ignore
# all files
*
# track all sub-directories
!*/

# Allow
!/.gitignore

!*.go
!go.sum
!go.mod

!README.md
!LICENSE

!/internal/
!/internal/**/*

!/pkg/
!/pkg/**/*

!/test/
!/test/**/*
